{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    <h1
            {{ stimulus_controller('symfony/ux-typed', {
                strings: ['I ❤ Symfony UX', 'Symfony UX is great', 'Symfony UX is easy'],
                smartBackspace: true,
                startDelay: 100,
                backSpeed: 20,
                backDelay: 100,
                loop: true,
                showCursor: true,
                cursorChar: '✨'
            }) }}
    ></h1>
    {#{% set img = asset('build/images/pexels-alexandra-kollstrem-9248424.jpg') %}#}

    {#<img src="{{ asset('build/images/pexels-alexandra-kollstrem-9248424.jpg') }}" alt=""/>#}
    {#<img src="{{ img }}">#}
{% endblock %}