{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    <h1>{{ website }} index</h1>
    {% set img = asset('build/images/pexels-alexandra-kollstrem-9248424.jpg') %}

    {#<img src="{{ asset('build/images/pexels-alexandra-kollstrem-9248424.jpg') }}" alt=""/>#}
    <img src="{{ img }}">
{% endblock %}